<h2>Alta</h2>
<form action="/alta" method="post">
<label for="nombre">Nombre</label>
<input type="text" required name="nombre" id="nombre">
<label for="mail">Mail</label>
<input type="text" required name="mail" id="mail">
<label for="telefono">Teléfono</label>
<input type="text" required name="telefono" id="telefono">
<input type="submit" value="Agregar">
</form>